## Importing libs

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## Loading data

In [2]:
df_raw = pd.read_csv('../data/interim/attr_added/delivery.csv')

E:\Gokul\Anaconda\envs\mldev\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (0,21,22) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
df_raw.head()

,id,state,district,case_no,death_cause,death_other,delivery_comp1,delivery_comp2,delivery_comp3,delivery_comp4,...,delivery_type,discharge_date,registration_no,rural_urban,still_birth,isactive,other_delivery_complication,previous_status,created_on,live_birth
0,1623315,Haryana,Panchkula,1.0,NaN,NaN,N,N,N,N,...,Normal,2018-11-22 00:00:00,1.060029e+11,R,0.0,NaN,NaN,ANC,2019-01-17 11:55:40,1.0
1,1623316,Haryana,Panchkula,1.0,NaN,NaN,N,N,N,N,...,Normal,2018-07-01 00:00:00,1.060029e+11,R,0.0,NaN,NaN,ANC,2019-01-17 12:01:52,1.0
2,1623317,Haryana,Panchkula,1.0,NaN,NaN,N,N,N,N,...,Normal,2018-12-06 00:00:00,1.060029e+11,R,0.0,NaN,NaN,ANC,2019-03-15 12:19:35,1.0
3,1623318,Haryana,Panchkula,1.0,NaN,NaN,N,N,N,N,...,Normal,2018-11-12 00:00:00,1.060029e+11,R,0.0,NaN,NaN,ANC,2019-03-15 12:30:10,1.0
4,1623319,Haryana,Panchkula,1.0,NaN,NaN,N,N,N,N,...,Normal,2018-12-29 00:00:00,1.060029e+11,R,0.0,NaN,NaN,ANC,2019-03-15 14:34:53,1.0

In [4]:
df_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 332463 entries, 0 to 332462
Data columns (total 26 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   id                           332463 non-null  object
 1   state                        332462 non-null  object
 2   district                     332236 non-null  object
 3   case_no                      332462 non-null  float64
 4   death_cause                  124 non-null     object
 5   death_other                  67 non-null      object
 6   delivery_comp1               258864 non-null  object
 7   delivery_comp2               258864 non-null  object
 8   delivery_comp3               258864 non-null  object
 9   delivery_comp4               258864 non-null  object
 10  delivery_comp5               0 non-null       float64
 11  delivery_complication        5053 non-null    object
 12  delivery_conducted_by        332462 non-null  object
 13  delivery_date                332462 non-null  object
 14  delivery_outcomes            331665 non-null  object
 15  delivery_place               310954 non-null  object
 16  delivery_type                332462 non-null  object
 17  discharge_date               240032 non-null  object
 18  registration_no              332462 non-null  float64
 19  rural_urban                  332462 non-null  object
 20  still_birth                  332462 non-null  float64
 21  isactive                     73598 non-null   object
 22  other_delivery_complication  636 non-null     object
 23  previous_status              332462 non-null  object
 24  created_on                   332462 non-null  object
 25  live_birth                   332462 non-null  float64
dtypes: float64(5), object(21)
memory usage: 65.9+ MB

In [5]:
df = df_raw.iloc[:-1, :].copy()

## EDA

In [6]:
df.shape

(332462, 26)

### id

In [15]:
df['id'].unique()

array([1623315, 1623316, 1623317, ..., '1955774', '1955775', '1955776'],
      dtype=object)

In [7]:
df['id'].nunique()

332462

In [9]:
df['id'].isna().sum()

0

### state

In [10]:
df['state'].unique()

array(['Haryana'], dtype=object)